.gameArea {
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    overflow: hidden;
}

.screen__of  {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    background-color: #000;
}

.screen__on_mini {
    width: 48%;
    height: 46%;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen0__on {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    display:block;
    background-color: #1A1B25;
    color: #11ff00;
    overflow: auto;
}

.setInstuctions{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.screen1__on  {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    background-color: #000; 
    background-image: url('../../statics/images/boomGame/warehouse.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.screen2__on {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    background-color: #000; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.screen3__on {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    color: white;
    
}

.screen__explosion {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    display: flex;
    background-image: url('../../statics/images/boomGame/explosion.png');
}


.code {
    flex-direction: row;
    height: 50px;
}

span.uiCam {
    padding-left: 10px;
    padding-right: 15px;
}

.uiCam {
    color: #ffffff;
    font-family: 'Cute Font', cursive;
    font-size: 30px;
    /* -webkit-text-stroke: 2px white; */
    height: 40px;
}


.objective__found {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    animation-name: animation_alert;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animation_alert {
    from {background-color: rgba(0, 0, 0, 0.5);}
    to {background-color: rgba(255, 0, 0, 0.3);}
}

.objectiveSytemInfo{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.objectiveSystemArea{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.systemKeyBoard{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 50px;
    background-color: #9bd1d1;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    white-space:pre;
}

.password{
    display: flex;
    height: 60px;
    color: #ffffff;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 700;
}

.locks{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30px;
}

.cursor{
    height: 60px;
    width: 15px;
    font-size: 33px;
    font-weight: 800;
    color:#9bd1d1;
    animation-name: cursor_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes cursor_animation {
    from {color: #9bd1d1;}
    to {color: #ffffff;}
}

.connectionLost{
    color: #ff0000;
}