.cover__page {
    height: 100%;
    background: #B6DCFE;  
    background-image: url('../../statics/texture2.png');
    background-image: url('../../statics/texture2.png'), linear-gradient(to bottom, #B6DCFE, #20C4DC);
    background-image: url('../../statics/texture2.png'), -webkit-linear-gradient(to bottom, #B6DCFE, #20C4DC);
    font-size: 100px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

