.ExerciseBox {
    width: 650px;
    height: 80px;
    background-color: #EDF5FC;
    border-radius: 15px;
    border-width: 1px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
}

