.Exercice {
    width: 650px;
    height: 80px;
    background-color: #EDF5FC;
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
    border-width: 1px;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 25px;
}
