.Header {
    display: flex;
    background-color:#0D1317;
    height: 5vh;
    width: 100%;
    align-items: flex-end;
}

.content_box {
    height: 100%;
    display: flex;
    flex: 1;
  }

.box {
    height: 100%;
    flex: 1;
  }