.Instructions {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
}

.tier {
  flex-direction: column;
  flex: 1 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  min-width: 440px;
}

.image {
  height: 150px;
}

.image.keboard {
  float: right
}

.position__hands {
  display: flex;
  flex-direction: column;
  float: right;
}

.img_hands {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 25px;
  color: #1B0830;
  font-size: 25px;
}

.subTitle {
  font-weight: 500;
  color: #6c6e6f;
}

.imgSubTitle {
  font-size: 20px;
  font-weight: 400;
  color: #F38E8E;
  padding-top: 15px;
}

@media screen and (orientation: portrait) {
  .Instructions {
    flex-direction: column;
  }
  .tier {
    min-width: auto;
  }
  .img_hands{
    width: 50%;
  } 
}