
.wrong {
    background-color:rgba(255, 63, 63, 0.5);
    color: #9e0f0f;
}

.ok {
    background-color: rgba(75, 136, 236, 0.5);
    color: #235097;
}

.current{
    /* color:#404752 */
    color:#000
}

.letter {
    
    font-weight: 200;
    font-size: 15px;
    white-space:pre;
    height: 20px;
}