.level {
    height: calc(100vh - 70px);
}

.panel {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.panel__upside {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: center; */
}

.panel__downside {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.boxy {
    align-self: center;
}

.modal__highlight_text {
    font-weight: 800;
}

@keyframes start_level {
    from {
        color: #e6e6ea;
    }
    to {
        color: #6c6e6f; 
    }
}

.modal__start_level_text {
    font-size: 17px;
    animation-name: start_level;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.modal__title {
    color: #3a4147;
}