.typing {

    background-color: #EDF5FC;
    width: 650px;
    height: 80px;
    /* border-radius: 15px; */
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 0 0 10px #f7ecff;
    color: #4f5764;
    font-size: 15px;
}

textarea.typing {
    resize: none;
  }