.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
}

.header  {
    width: 100%;
    height: 55px;
    background-color: #1B0830;
}

nav div.nav.content_box{
    list-style: none;
}

nav div.nav.content_box li a {
    text-decoration: none;
    color: #ffffff;
}

nav div.right.nav.content_box li a {
    margin-right: 20px;
}

nav div.right.nav.content_box {
    align-items: center;
    justify-content: right;
}
nav div.left.nav.content_box {
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

.logo {
    font-size: 4vh;
    font-weight: 600;
    align-items: center;
}