body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
}

.black{
  color: #141414;
}

.red {
  color: #FF6663;
}

.white {
  color: #fff;
}

.content_box {
  height: 100%;
  display: flex;
  flex: 1;
}

.box {
  height: 100%;
  flex: 1;
}

a  {
  /* color: inherit; */
  text-decoration: none;
}

a.link-unstyled:hover {
  /* color: inherit; */
  text-decoration: none;
}

li.list-unstyled {
  list-style-type: none;
}

.text{
  color: #6c6e6f; 
  font-weight: 300;
  font-size: 16px;
}