body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #F9F9F9;
  /* overflow: hidden; */
}

.red {
  color: #FF6663;
}

.white {
  color: #fff;
}

.content_box {
  height: 100%;
  display: flex;
  flex: 1;
}

.box {
  height: 100%;
  flex: 1;
}

a.link-unstyled {
  color: inherit;
  text-decoration: none;
}

a.link-unstyled:hover {
  color: inherit;
  text-decoration: none;
}

li.list-unstyled {
  list-style-type: none;
}