body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #F9F9F9;
}

.red {
  color: #D85A5A;
}

.white {
  color: #fff;
}

.content_box {
  height: 100%;
  display: flex;
  flex: 1;
}

.box {
  height: 100%;
  flex: 1;
}
